@{
    ViewBag.Title = "The Homesteader Cafe";
}

@section beforeNavigation
{
    <div class="loading-screen">
        <div class="content animated fadeInDown">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <h2 class="section-heading">Loading the page</h2>
            <h3 class="section-subheading">Please wait...</h3>
        </div>
    </div>

    <!-- Main Slider -->
    <header id="header" class="intro">
        <div id="hero-carousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <!-- Start slide -->
                <div class="item active">
                    <div class="fill item_muffins"></div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="slide-content animated fadeInDown">
                                <img class="homesteader-logo" src="~/Content/custom/images/homesteader-logo-inverse.png" alt="The Homesteader Cafe" />
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div>
                <!-- End slide -->

            </div><!-- /.carousel-inner -->

            <a href="#nav" class="btn page-scroll header-scroll">
                <i class="fa fa-angle-down animated"></i>
            </a>

        </div><!-- /#hero-carousel -->
    </header><!-- /.intro -->
    <!-- End Main Slider -->
}

@section modals
{
    <!-- Menu modal -->
    <div class="popup-modal modal fade" id="menuModal-breakfast" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- News Article Goes Here -->
                            <span class="section-icon">a</span>
                            <h2 class="section-heading">BREAKFAST</h2>
                            <h3 class="section-subheading">Your healthy energy boost to start the day</h3>
                            <img class="img-responsive img-centered" src="~/Content/foodster/images/breakfast1.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Healthy Cereal with Fruit</h4>

                            <p>Nut &amp; fruit granola served with fresh yoghurt.<br><strong>&dollar;8.50</strong></p>

                            <img class="img-responsive img-centered" src="~/Content/foodster/images/breakfast2.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Homemade Crep&eacute;s with Fruit</h4>

                            <p>Crep&eacute;s served with fresh fruit.<br><strong>&dollar;10.50</strong></p>

                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.modal-content -->
    </div>
    <!-- End menu modal -->
    <!-- Menu modal -->
    <div class="popup-modal modal fade" id="menuModal-lunch" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- News Article Goes Here -->
                            <span class="section-icon">f</span>
                            <h2 class="section-heading">Lunch</h2>
                            <h3 class="section-subheading">For those with exquisite taste only</h3>
                            <img class="img-responsive img-centered" src="~/Content/foodster/images/lunch1.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Fresh baguette with egg, tomato and lettuce</h4>

                            <p>Nut &amp; fruit granola served with fresh yoghurt.<br><strong>&dollar;14.50</strong></p>

                            <img class="img-responsive img-centered" src="~/Content/foodster/images/lunch2.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Homemade Pizza</h4>

                            <p>Fresh base topped with onion, cheese and lettuce.<br><strong>&dollar;15.00</strong></p>

                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.modal-content -->
    </div>
    <!-- End menu modal -->
    <!-- Menu modal -->
    <div class="popup-modal modal fade" id="menuModal-drinks" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- News Article Goes Here -->
                            <span class="section-icon">W</span>
                            <h2 class="section-heading">Drinks</h2>
                            <h3 class="section-subheading">Finely ground coffee, or something a little more daring...</h3>
                            <img class="img-responsive img-centered" src="~/Content/foodster/images/drink1.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Strawberry basil lemonade</h4>

                            <p>A healthy blend with a fresh, fruity taste.<br><strong>&dollar;3.50</strong></p>

                            <img class="img-responsive img-centered" src="~/Content/foodster/images/drink2.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Frozen mango drink</h4>

                            <p>What more can we say? Give it a try!<br><strong>&dollar;4.00</strong></p>

                            <img class="img-responsive img-centered" src="~/Content/foodster/images/drink3.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Caff&eacute; latte</h4>

                            <p>The perfect blend, just how you like it.<br><strong>&dollar;2.50</strong></p>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.modal-content -->
    </div>
    <!-- End menu modal -->
}

<!-- Introduction Section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <h2 class="section-heading">Friends &bull; Family &bull; Community</h2>
                <span class="section-divider">d</span>
                <h3 class="section-subheading text-muted">Homemade food, local ingredients <span>... carefully prepared.</span></h3>
                <a href="#unique" class="page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Introduction Section -->
<!-- Unique Chain Section -->
<section id="unique">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"></h2>
                <h3 class="section-subheading">
                    The Homesteader Cafe is the go-to gathering place for those living, working, or visiting downtown Kansas City.
                    Our restaurant is an extension of our home and beliefs, that family, neighbors and friends should have a casual
                    place to gather and relax around good food sourced locally.
                </h3>
                <a href="#menus" class="page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Unique Chain Section -->
<!-- Choose Restaurant Section -->
<section id="menus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading wow fadeInDown">Menus</h3>
            </div>
        </div><!-- /.row-->
        <div class="row">
            <div class="col-md-3 col-sm-6 inner text-center wow fadeInLeft">
                <a target="_blank" href="~/Content/custom/documents/menu-brunch.pdf" data-toggle="modal">Brunch</a>
            </div>
            <div class="col-md-3 col-sm-6 inner text-center wow fadeInUp">
                <a target="_blank" href="~/Content/custom/documents/menu-lunch.pdf" data-toggle="modal">Lunch</a>
            </div>
            <div class="col-md-3 col-sm-6 inner text-center wow fadeInUp">
                <a target="_blank" href="~/Content/custom/documents/menu-dinner.pdf" data-toggle="modal">Dinner</a>
            </div>
            <div class="col-md-3 col-sm-6 inner text-center wow fadeInUp">
                <a target="_blank" href="~/Content/custom/documents/menu-dessert.pdf" data-toggle="modal">Dessert</a>
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <a href="#our-story" class="page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Restaurants Section -->

<section id="our-story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading wow fadeInDown">Our Story</h2>
                <p class="section-subheading wow fadeInDown">
                    The Homesteader Caf&eacute; was founded by husband and wife team, Megan Kendall and
                    Jeremy Lane. The Homesteader Caf&eacute; is an extension of our home, a warm welcome to
                    be part of a community that believes in good food sourced from Kansas City's farmers
                    and served in simple, well&ndash;prepared dishes.
                </p>
                <p class="section-subheading wow fadeInDown">
                    Step into The Homesteader Caf&eacute;, located in the heart of downtown Kansas City, and be
                    greeted by the delicious aroma of Jeremy's savory specialties like the Andouille
                    sausage crusted pork chops or Megan's handcrafted carrot cake with candied walnuts.
                    Gather around and experience the best of what the season has to offer.
                </p>
            </div>
            <div class="col-sm-12">
                <a href="#book-table" class="page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Menus Section -->
<!-- Book Section -->
<section id="book-table">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading wow fadeInDown">Book a Table</h2>

                <div class="OTButton">
                    <script type="text/javascript" src="https://secure.opentable.com/ism/link.aspx?rid=187225&restref=187225&bgimage=https://secure.opentable.com/img/frontDoor/ot_btn_red.png&hover=1"></script><noscript id="OT_noscript"><a href="http://www.opentable.com/the-homesteader-cafe-reservations-kansas-city?rtype=ism&restref=187225">Reserve Now On OpenTable.com</a></noscript><a id="OTPoweredBy" class="OTPoweredBy" href="http://www.opentable.com/the-homesteader-cafe-reservations-kansas-city?rtype=ism&restref=187225">Powered By OpenTable</a>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Book Section -->
<!-- Gallery Section -->
<div id="gallery" class="wow fadeIn">
    <div id="gallery-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#gallery-carousel" data-slide-to="1"></li>
            <li data-target="#gallery-carousel" data-slide-to="2"></li>
            <li data-target="#gallery-carousel" data-slide-to="3"></li>
            <li data-target="#gallery-carousel" data-slide-to="4"></li>
            <li data-target="#gallery-carousel" data-slide-to="5"></li>
            <li data-target="#gallery-carousel" data-slide-to="6"></li>
            <li data-target="#gallery-carousel" data-slide-to="7"></li>
            <li data-target="#gallery-carousel" data-slide-to="8"></li>
            <li data-target="#gallery-carousel" data-slide-to="9"></li>
            <li data-target="#gallery-carousel" data-slide-to="10"></li>
            <li data-target="#gallery-carousel" data-slide-to="11"></li>
            <li data-target="#gallery-carousel" data-slide-to="12"></li>
            <li data-target="#gallery-carousel" data-slide-to="13"></li>
        </ol><!-- /.carousel-indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- Start slide -->
            <div class="item active">
                <img src="~/Content/custom/images/carousel/drinks-combined.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide-->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/pork-chop.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide-->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/banana-chocolate-cake.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide-->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/buffet.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/carrot-cake.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/cheesy-stuffed.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/chocalate-croissant.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/chocolate-chip-cookies.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/chocolate-cups.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/egg-bacon-polenta.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/eggplant-parmesan.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/macaroons.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/muffins.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/custom/images/carousel/shrimp-couscous.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
        </div><!-- /.carousel-inner -->
        <!-- Controls -->
        <a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left"></span>
        </a>
        <a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
            <span class="fa fa-angle-right"></span>
        </a>

    </div><!-- /#hero-carousel -->
</div>
<!-- End Gallery Section -->

<div class="come-join-us">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 wow fadeInDown">
                <h2 class="section-heading">Come join us</h2>
                <p>Bring a friend and enjoy the food!</p>
            </div>
        </div>
    </div>
</div>

<div class="map">
    <div id="homepage_map"></div>
</div>
