<footer id="footer">
    <div class="container inner">
        <div class="row">

            <div class="col-md-12 text-center">
                <h2 class="section-heading wow fadeInDown">Contact The Homesteader Cafe</h2>
            </div>

            <div class="col-md-4 col-sm-6 inner">
                <h3 class="section-subheading">Opening Times <span>X</span></h3>
                <p><em>Mon &ndash; Thu</em>&nbsp;&nbsp;<strong>12pm &ndash; 10:30pm</strong></p>
                <p><em>Fri &ndash; Sat</em>&nbsp;&nbsp;<strong>12pm &ndash; 11pm</strong></p>
                <p><em>Sun</em>&nbsp;&nbsp;<strong>12pm &ndash; 10:30pm</strong></p>

            </div><!-- /.col -->

            <div class="col-md-4 col-sm-6 inner">
                <h3 class="section-subheading">Get in Touch <span>V</span></h3>
                <p>Feel free to call, email us or just stop in and chat.</p>
                <ul class="contacts">
                    <li><i class="icon-location contact"></i> 100 E 7th St, Kansas City, MO 64106</li>
                    <li><i class="icon-mobile contact"></i> (816) 769-5378</li>
                    <li><a href="mailto:contact@thehomesteadercafe.com"><i class="icon-mail-1 contact"></i> contact@thehomesteadercafe.com</a></li>
                </ul><!-- /.contacts -->
            </div><!-- /.col -->

            <div class="col-md-4 col-sm-6 inner">
                <h3 class="section-subheading">Social <span>x</span></h3>
                <p>Follow us on Facebook to stay up-to-date on our specials and new menu items!</p>
                <div class="fb-follow" data-href="https://www.facebook.com/pages/The-Homesteader-Cafe/132039910195997" data-layout="standard" data-show-faces="true"></div>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- .container -->

    <div class="footer-bottom">
        <div class="container inner">
            <p class="pull-left">&copy; 2015 The Homesteader Cafe. All rights reserved.</p>
            <ul class="footer-menu pull-right">
                <li><a href="~/">Home</a></li>
                <li><a href="~/#menus">Menus</a></li>
                <li><a href="~/#gallery">Gallery</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul><!-- .footer-menu -->
        </div><!-- .container -->
    </div><!-- .footer-bottom -->
</footer><!-- footer -->

