<nav id="nav" class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle are grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div><!-- /.navbar-header -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="page-scroll" href="#restaurants">Restaurants</a></li>
                <li><a class="page-scroll" href="#menus">Menus</a></li>
                <li><a class="page-scroll" href="#book">Book a Table</a></li>
            </ul>
            <a class="navbar-brand page-scroll" href="#header">
                <!--<img src="~/Content/foodster/images/foodster_navigation_logo_inverse.png" alt="">-->
                <img src="~/Content/custom/images/homesteader-logo.png" alt="The Homesteader Cafe Logo">
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="coffeehouse.html">Coffee House</a></li>
                        <li class="active"><a href="grill.html">Grill Restaurant</a></li>
                        <li><a href="fastfood.html">Fast Food Restaurant</a></li>
                        <li><a href="seafood.html">Seafood Restaurant</a></li>
                        <li class="divider"></li>
                        <li><a href="blog.html">Blog Home</a></li>
                        <li><a href="post.html">Blog Post</a></li>
                        <li class="divider"></li>
                        <li><a href="menus-2col.html">Menus 2 col</a></li>
                        <li><a href="menus-3col.html">Menus 3 col</a></li>
                        <li class="divider"></li>
                        <li><a href="components.html">UI Components</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="404.html">404 Error Page</a></li>
                        <li><a href="page.html">Blank Page</a></li>
                    </ul>
                </li>
                <li><a class="page-scroll" href="#gallery">Gallery</a></li>
                <li><a class="page-scroll" href="#footer">Contact Us</a></li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

