@{
    ViewBag.Title = "The Homesteader Cafe";
}

@section beforeNavigation
{
    <div class="loading-screen">
        <div class="content animated fadeInDown">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <h2 class="section-heading">Loading the page</h2>
            <h3 class="section-subheading">Please wait...</h3>
        </div>
    </div>

    <!-- Main Slider -->
    <header id="header" class="intro">
        <div id="hero-carousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <!-- Start slide -->
                <div class="item active">
                    <div class="fill item_bread"></div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="slide-content animated fadeInDown">
                                <span class="section-icon">Z</span>
                                <h1>The Homesteader Cafe</h1>
                                <h2>Friends. Family. Community.</h2>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div>
                <!-- End slide -->

            </div><!-- /.carousel-inner -->

            <a href="#nav" class="btn page-scroll header-scroll">
                <i class="fa fa-angle-down animated"></i>
            </a>

        </div><!-- /#hero-carousel -->
    </header><!-- /.intro -->
    <!-- End Main Slider -->
}

@section modals
{
    <!-- Menu modal -->
    <div class="popup-modal modal fade" id="menuModal-breakfast" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- News Article Goes Here -->
                            <span class="section-icon">a</span>
                            <h2 class="section-heading">BREAKFAST</h2>
                            <h3 class="section-subheading">Your healthy energy boost to start the day</h3>
                            <img class="img-responsive img-centered" src="~/Content/foodster/images/breakfast1.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Healthy Cereal with Fruit</h4>

                            <p>Nut &amp; fruit granola served with fresh yoghurt.<br><strong>&dollar;8.50</strong></p>

                            <img class="img-responsive img-centered" src="~/Content/foodster/images/breakfast2.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Homemade Crepés with Fruit</h4>

                            <p>Crepés served with fresh fruit.<br><strong>&dollar;10.50</strong></p>

                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.modal-content -->
    </div>
    <!-- End menu modal -->

    <!-- Menu modal -->
    <div class="popup-modal modal fade" id="menuModal-lunch" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- News Article Goes Here -->
                            <span class="section-icon">f</span>
                            <h2 class="section-heading">Lunch</h2>
                            <h3 class="section-subheading">For those with exquisite taste only</h3>
                            <img class="img-responsive img-centered" src="~/Content/foodster/images/lunch1.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Fresh baguette with egg, tomato and lettuce</h4>

                            <p>Nut &amp; fruit granola served with fresh yoghurt.<br><strong>&dollar;14.50</strong></p>

                            <img class="img-responsive img-centered" src="~/Content/foodster/images/lunch2.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Homemade Pizza</h4>

                            <p>Fresh base topped with onion, cheese and lettuce.<br><strong>&dollar;15.00</strong></p>

                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.modal-content -->
    </div>
    <!-- End menu modal -->

    <!-- Menu modal -->
    <div class="popup-modal modal fade" id="menuModal-drinks" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- News Article Goes Here -->
                            <span class="section-icon">W</span>
                            <h2 class="section-heading">Drinks</h2>
                            <h3 class="section-subheading">Finely ground coffee, or something a little more daring...</h3>
                            <img class="img-responsive img-centered" src="~/Content/foodster/images/drink1.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Strawberry basil lemonade</h4>

                            <p>A healthy blend with a fresh, fruity taste.<br><strong>&dollar;3.50</strong></p>

                            <img class="img-responsive img-centered" src="~/Content/foodster/images/drink2.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Frozen mango drink</h4>

                            <p>What more can we say? Give it a try!<br><strong>&dollar;4.00</strong></p>

                            <img class="img-responsive img-centered" src="~/Content/foodster/images/drink3.jpg" alt="" data-no-retina>

                            <h4 class="section-subsubheading">Caffé latte</h4>

                            <p>The perfect blend, just how you like it.<br><strong>&dollar;2.50</strong></p>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.modal-content -->
    </div>
    <!-- End menu modal -->
}

<!-- Introduction Section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <h2 class="section-heading">A unique experience for food lovers.</h2>
                <span class="section-divider">d</span>
                <h3 class="section-subheading text-muted">Homemade food, local ingredients <span>... carefully prepared.</span></h3>
                <a href="#unique" class="page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Introduction Section -->

<!-- Unique Chain Section -->
<section id="unique">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="section-icon">s</span>
                <h2 class="section-heading">
                    
                </h2>
                <h3 class="section-subheading">
                    The Homesteader Cafe is the go-to gathering place for those living, working, or visiting downtown Kansas City.
                    Our restaurant is an extension of our home and beliefs, that family, neighbors and friends should have a laidback
                    place to gather and relax around good food sourced locally.
                </h3>
                <a href="#restaurants" class="page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Unique Chain Section -->

<!-- Choose Restaurant Section -->
<section id="restaurants">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading wow fadeInDown">Select your Foodster</h3>
            </div>
        </div><!-- /.row-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center wow fadeInLeft">
                <ul>
                    <li><a href="#restaurantModal1" data-toggle="modal">Manchester</a></li>
                    <li><a href="#restaurantModal1" data-toggle="modal">London</a></li>
                    <li><a href="#restaurantModal1" data-toggle="modal">Leeds</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center wow fadeInUp">
                <ul>
                    <li><a href="#restaurantModal1" data-toggle="modal">New York</a></li>
                    <li><a href="#restaurantModal1" data-toggle="modal">Tokyo</a></li>
                    <li><a href="#restaurantModal1" data-toggle="modal">Edinburgh</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center wow fadeInUp">
                <ul>
                    <li><a href="#restaurantModal1" data-toggle="modal">Pittsburgh</a></li>
                    <li><a href="#restaurantModal1" data-toggle="modal">San Francisco</a></li>
                    <li><a href="#restaurantModal1" data-toggle="modal">Miami</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center wow fadeInRight">
                <ul>
                    <li><a href="#restaurantModal1" data-toggle="modal">Hamburg</a></li>
                    <li><a href="#restaurantModal1" data-toggle="modal">Sydney</a></li>
                    <li><a href="#restaurantModal1" data-toggle="modal">Glasgow</a></li>
                </ul>
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <a href="#menus" class="page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Restaurants Section -->

<!-- Menus Section -->
<section id="menus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading wow fadeInDown">We are big on choice.</h2>
                <h3 class="section-subheading wow fadeInDown">We will be open for lunch and dinner on weekdays and brunch on the weekends.</h3>
                <h3 class="section-subheading wow fadeInDown">Menus coming soon...</h3>
            </div>
            <div class="col-sm-12">
                <a href="#book" class="page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Menus Section -->

<!-- Book Section -->
<section id="book">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading wow fadeInDown">Our Story</h2>
                <h3 class="section-subheading wow fadeInDown">
                    The Homesteader Café was founded by husband and wife team, Megan Kendall and
                    Jeremy Lane. The Homesteader Café is an extension of our home, a warm welcome to
                    be part of a community that believes in good food sourced from Kansas City's farmers
                    and served in simple, well-prepared dishes.
                    <br />
                    Step into The Homesteader Café, located in the heart of downtown Kansas City, and be
                    greeted by the delicious aroma of Jeremy's savory specialties like the Andouille
                    sausage crusted pork chops or Megan's handcrafted carrot cake with candied walnuts.
                    Gather around and experience the best of what the season has to offer.                    
                </h3>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Book Section -->

<!-- Gallery Section -->
<div id="gallery" class="wow fadeIn">
    <div id="gallery-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#gallery-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#gallery-carousel" data-slide-to="1"></li>
        </ol><!-- /.carousel-indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- Start slide -->
            <div class="item active">
                <img src="~/Content/foodster/images/grill/gallery.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide-->
            <!-- Start slide -->
            <div class="item">
                <img src="~/Content/foodster/images/gallery3.jpg" alt="" data-no-retina>
            </div>
            <!-- End slide -->
        </div><!-- /.carousel-inner -->
        <!-- Controls -->
        <a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left"></span>
        </a>
        <a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
            <span class="fa fa-angle-right"></span>
        </a>

    </div><!-- /#hero-carousel -->
</div>
<!-- End Gallery Section -->

<div class="come-join-us">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 wow fadeInDown">
                <h2 class="section-heading">Come join us</h2>
                <p>Bring a friend and enjoy the food!</p>
            </div>
        </div>
    </div>
</div>

<div class="map">
    <div id="homepage_map"></div>
</div>

