<footer id="footer">
    <div class="container inner">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading wow fadeInDown">Contact The Homesteader Cafe</h2>
            </div>

            <div class="col-md-4 col-sm-6 inner">
                <h3 class="section-subheading">Opening Times <span>X</span></h3>
                <p><em>Lunch</em>&nbsp;&nbsp;<strong>11&ndash;2 Tue &ndash; Fri</strong></p>
                <p><em>Happy hour</em>&nbsp;&nbsp;<strong>4&ndash;6 Tue &ndash; Fri</strong></p>
                <p><em>Dinner</em>&nbsp;&nbsp;<strong>4&ndash;9 Tue, Wed, Thurs &amp; 4&ndash;10 Fri and Sat</strong></p>
                <p><em>Brunch</em>&nbsp;&nbsp;<strong>8&ndash;2 Sat and Sun</strong></p>
            </div><!-- /.col -->

            <div class="col-md-4 col-sm-6 inner">
                <h3 class="section-subheading">Get in Touch <span>V</span></h3>
                <p>Feel free to call, email us or just stop in and chat.</p>
                <ul class="contacts">
                    <li><i class="icon-location contact"></i> 100 E 7th St, Suite 100, Kansas City, MO 64106</li>
                    <li><i class="icon-mobile contact"></i> (816) 474-8333</li>
                    <li><a href="mailto:contact@thehomesteadercafe.com"><i class="icon-mail-1 contact"></i> contact@thehomesteadercafe.com</a></li>
                    <li><a target="_blank" href="/subscribe"><i class="icon-mail-1 contact"></i> Subscribe by email</a></li>
                </ul><!-- /.contacts -->
            </div><!-- /.col -->

            <div class="col-md-4 col-sm-6 inner">
                <h3 class="section-subheading">Social <span>x</span></h3>
                <p>Follow us on social media to stay up-to-date on our specials and new menu items!</p>
                <div class="fb-follow" data-href="https://www.facebook.com/pages/The-Homesteader-Cafe/132039910195997" data-layout="standard" data-show-faces="true"></div>
                <div class="social-item">
                    <a href="https://twitter.com/HomesteaderCafe" class="twitter-follow-button" data-show-count="false">Follow @@HomesteaderCafe</a>
                </div>
                <div class="social-item">
                    <a target="_blank" href="http://instagram.com/thehomesteadercafe?ref=badge" class="ig-b- ig-b-24"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a> Check us out at Instagram.
                </div>
                </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- .container -->

    <div class="footer-bottom">
        <div class="container inner">
            <p class="pull-left">&copy; 2016 The Homesteader Cafe. All rights reserved.</p>
            <ul class="footer-menu pull-right">
                <li><a href="#menus">Menus</a></li>
                <li><a href="#book-table">Book a Table</a></li>
                <li><a href="#our-story">Our Story</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul><!-- .footer-menu -->
        </div><!-- .container -->
    </div><!-- .footer-bottom -->
</footer><!-- footer -->
